<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="ISO-8859-1">
<title>Register form</title>

</head>
<body>
<div ng-controller="Personcontroller as ctrl">

<form method="post" ng-submit='ctrl.submitbtn()'>
<input type="text" ng-model="ctrl.preg.username" placeholder="Username" required><br>
<input type="email" ng-model="ctrl.preg.email" placeholder="Emailid" required><br>
<input type="text" ng-model="ctrl.preg.address" placeholder="Address" required><br>
<input type="tel" ng-model="ctrl.preg.mobile" placeholder="Mobilenumber" required><br>
<input type="date" ng-model="ctrl.preg.dateofbirth" placeholder="Dateofbirth" required><br>

<h5> Role:</h5><br>
 <select ng-model="ctrl.preg.role">
<option>Select Role</option>
<option>Alumni</option>
<option>Employee</option>
<option>Student</option>
</select>

<input type="password" ng-model="ctrl.preg.password" placeholder="Password" required><br>
<input type="submit" class="btn btn-primary" value="Register">
</form>
<a href="#/login">Already have an Account?</a>
</div>

</body>
</html>