<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="ISO-8859-1">
<title>Register form</title>

</head>
<body>
<div ng-controller="Personcontrol as ctrl">

<form>
<input type="text" ng-model="ctrl.person.username" placeholder="Username" required><br>
<input type="email" ng-model="ctrl.person.email" placeholder="Emailid" required><br>
<input type="text" ng-model="ctrl.person.address" placeholder="Address" required><br>
<input type="tel" ng-model="ctrl.person.mobile" placeholder="Mobilenumber" required><br>
<input type="date" ng-model="ctrl.person.date" placeholder="Dateofbirth" required><br>

<h5> Role:</h5><br>
 <select ng-model="ctrl.person.role">
<option>Select Role</option>
<option>Alumni</option>
<option>Employee</option>
<option>Student</option>
</select>

<input type="password" ng-model="ctrl.person.password" placeholder="Password" required><br>
<input type="submit" class="btn btn-primary" value="Register">
</form>

</div>

</body>
</html>